<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="TrellaNugets" value="http://build.dev.trellahealth.com:8080/httpAuth/app/nuget/feed/Libraries/TrellaNugets/v3/index.json" />
  </packageSources>
  <packageSourceCredentials>
    <TrellaNugets>
        <add key="Username" value="TEAMCITYUSER" />
        <add key="Password" value="AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAdovX3IgQKk6pNmrgae1WMQAAAAACAAAAAAAQZgAAAAEAACAAAAAPOmdkCQa5/xgIVQV0AWQFHdXNRFVFeYIq/pDfaKtUNAAAAAAOgAAAAAIAACAAAACycsXSR2SEYMd65HKehLdllijUXaFD31Cd23DH0YzUQRAAAADjIk0YChA9ufkpk3X0t2NmQAAAAH+KfGIYdQsYK83NFoS0g0+1qZYAJtf0qwtkI25BV87Ov5ulFWpR+4nB3L/Y0ICxBMXkREtf5OkKD64zUDTro+g=" />
      </TrellaNugets>
  </packageSourceCredentials>
</configuration>